services:
   gluetun:
    #image: qmcgaw/gluetun:v3.3.18 
    #image: qmcgaw/gluetun:v3.39.1
    image: qmcgaw/gluetun:v3.40.0
    container_name: media_vpn
    
    privileged: true
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp # HTTP proxy
      - 7000:8000/tcp # GLUTUN STATUS
      - 7388:8388/tcp # Shadowsocks
      - 7388:8388/udp # Shadowsocks
      - 3000:3000/tcp
      
    
    volumes:
      - ./glueton/config:/gluetun
      - ./glueton/temp:/temp
      
    environment:
      # See https://github.com/qdm12/gluetun/wiki
      
      - VPN_SERVICE_PROVIDER=private internet access
      - VPN_TYPE=openvpn
      - FIREWALL=on
      - OPENVPN_USER=p5915540
      - OPENVPN_PASSWORD=KyleMadelin1090!
      # SURF SHARK CONFIG FILES
   #   - VPN_SERVICE_PROVIDER=surfshark
     # - VPN_TYPE=wireguard
     # - WIREGUARD_PRIVATE_KEY=EGVJAAN8cxryy6SCI5YXDbs36/1m9TgDCbdCGbD5zH0=
     # - WIREGUARD_ADDRESSES=10.14.0.2/16
    #  - SERVER_CITIES:Atlanta
  
      - SERVER_REGIONS=US East Streaming Optimized,US Atlanta,US South Carolina
      - TZ=America/New_York
      # Server list updater. See https://github.com/qdm12/gluetun/wiki/Updating-Servers#periodic-update
      - UPDATER_PERIOD=6h
      - UPDATER_VPN_SERVICE_PROVIDERS=private internet access
   #   - UPDATER_VPN_SERVICE_PROVIDERS=surfshark
      - BLOCK_ADS=yes
      - PUID=1000
      - PGID=1000
      - DOT=on
      - BLOCK_ADS=on
      - BLOCK_SURVEILLANCE=on
      - DNS_ADDRESS=10.0.0.241 # PIA DNS
         
    healthcheck:
            test: ping -c 1 www.google.com || exit 1
            interval: 30s
            timeout: 10s
            retries: 3
     
    restart: always



   nodecast-tv:
    build: https://github.com/technomancer702/nodecast-tv.git#main
    container_name: nodecast-tv
    network_mode: "service:gluetun"
  #  ports:
 #     - "3000:3000" # Host:Container
    volumes:
      - ./iptvplayer/data:/app/data
    restart: unless-stopped
    environment:
      - NODE_ENV=production
   #   - PORT=3000 # Optional: Internal container port
    depends_on:
      - gluetun
   
